*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(294deg ,#153677 , #4e085f);
    padding :10px;

}
.todo-app {
    padding: 20px;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px; 
}
.row {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 455;

}

button {
    border: none;
    outline: none;
    padding:16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;  
    border-radius: 40px; 
    transition: 0.3s ease-in-out; 
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked {
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
ul li span:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
}

button:hover {
    background: #f5412e;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);

}