*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html,body{
    place-items: center;
}
.container {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(294deg ,#153677 , #4e085f);
    padding :10px;

}
.todo-app {
    padding: 20px;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px; 
}
.row {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 455;
    font-family: cursive;

}

button {
    border: none;
    outline: none;
    padding:16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;  
    border-radius: 40px; 
    transition: 0.3s ease-in-out; 
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked {
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
ul li span:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
}

button:hover {
    background: #f5412e;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);

}
/* social-media-buttons-section */
.wrapper{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0; 
    right: 0;
    justify-content: center;
    align-items: center;

}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #2AABEE;
}
.wrapper .button:nth-child(6):hover .icon{
  background: #0a66c2;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #2AABEE;
}
.wrapper .button:nth-child(6) span{
  color: #0a66c2;
}
.button a {
  text-decoration: none;
  color: inherit; 

}
